body{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#container{
    height: 400px;
    width: 600px;
    background-color: #d0d0d0;
    border-radius: 10px;
}

#seesaw-container{
    position: relative;
    height: 200px;
    width: 400px;
    background-color: #ddd;
    margin: 20px auto;
    border-radius: 10px;
}

#plank{
    position: absolute;
    height: 20px;
    width: 400px;
    left: 0;
    top: 90px;
    background-color: brown;
}

.object {
    display: flex;
    position: absolute;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
}

.display-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.display-item{
    font-size: 18px;
    margin: 10px;
    padding: 5px;
    background-color: #fff;
    color: #333;
    border-radius: 8px;
}

#reset-button{
    display: block;
    font-size: 16px;
    font-weight: bolder;
    margin: 50px auto;
    padding: 10px 30px;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#reset-button:hover{
    background-color: #888;
    color: #fff;
    transform: scale(1.05);
}