@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Montserrat", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #dbdbdb;
}

#container{
    height: 450px;
    width: 600px;
    background-color: floralwhite;
    border-radius: 10px;
}

#seesaw-container{
    position: relative;
    height: 250px;
    width: 400px;
    background-color: ghostwhite;
    margin: 20px auto;
    border-radius: 10px;
}

#plank{
    position: absolute;
    height: 20px;
    width: 400px;
    left: 0;
    top: 115px;
    background-color: sienna;
}

#pivot {
    position: absolute;
    left: 190px;
    top: 135px;
    width: 20px;
    height: 20px;
    background-color: goldenrod;
    border-radius: 50%;
}

.object {
    display: flex;
    position: absolute;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
}

.display-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.display-item{
    font-size: 18px;
    margin: 10px;
    padding: 5px;
    background-color: #ededed;
    color: #333;
    border-radius: 8px;
}

#reset-button{
    display: block;
    font-size: 16px;
    font-weight: bolder;
    margin: 50px auto;
    padding: 10px 70px;
    align-items: center;
    justify-content: center;
    background-color: #ededed;
    color: #333;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#reset-button:hover{
    background-color: #888;
    color: #fff;
    transform: scale(1.05);
}